### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
*.project
*.classpath
.settings/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Credenciais locais ###
*.local.properties
src/main/resources/application-dev.properties
